<h1><%- title %></h1>
<div class="center">
    <div id="form-div">
        <form action="#" method="get">
            <fieldset>
                <%- messages() %>
                <label class="top">Email Address: <input type="email" name="account_email" id="email"></label>
                <label class="top">Password <input type="password" name="account_password" id="password"></label>
                <div class="leftPswrd">
                    <span id="pswdBtn">Show Password</span>
                </div>
                <div class="submitBtn">
                    <input type="submit" value="<%- title %>">
                </div>
                <p>No account? <a href="/account/register">Sing-up</a></p>
            </fieldset>
        </form>
    </div>
</div>
<script>
    const pswdBtn = document.querySelector("#pswdBtn");
    pswdBtn.addEventListener("click", function() {
    const pswdInput = document.getElementById("password");
    const pswdType = pswdInput.getAttribute("type");
    if (pswdType == "password") {
        pswdInput.setAttribute("type", "text")
        pswdBtn.innerHTML = "Hide Password";
    } else {
        pswdInput.setAttribute("type", "password")
        pswdBtn.innerHTML = "Show Password";
    }
})
</script>