<h1><%- title %></h1>
<%- messages() %>
<p class="link-management"><a href="/inv/classification">Add New Classification</a></p>
<p class="link-management"><a href="/inv/vehicle">Add New Vehicle</a></p>
